body{
   /* #151515 #FFD700 #F2F4CD*/
   background: radial-gradient(ellipse at top,  #969892, transparent),
               radial-gradient(ellipse at bottom, rgb(78, 78, 78), transparent);
   background-attachment: fixed;
   background-size: cover;
   position: relative;
}

.plakat{
    border-radius: 5%;
    max-width: 50%;
    /*height: auto;*/
    object-fit: cover;  
}

.szelektor{
   flex: 80%;
   box-shadow: 0 0 10px 0 rgb(245, 245, 245) inset, 0 0 10px 4px rgb(255, 255, 255);
   margin-top: 2vh;
   font-size: 3vh;
   height: auto;
   text-align: center;
   background-color: rgba(145, 139, 139, 0.438);
   display: inline-block;
   border: 5px solid black;
   border-radius: 7%;
   padding: 10vw;
   margin: 2.5%;
}

#oldal{
   display: flex;
   flex-direction: column;
   align-items: center;
}

.gomb{
   flex: 20%;
   border: none;
   align-self: center;
   font-size: 2vh;
   border-radius: 10%;
   padding: 1vw;
   margin: 1vw;
}
.gomb:hover{
   box-shadow: 0 0 10px 0 black inset, 0 0 10px 5px grey;
   border: none;
   background-color: #969892;
   color: rgb(255, 255, 255);
   text-shadow: black 3px 3px 1px;
   cursor: pointer;
   transition: all .6s ease-in-out;
}

#filmekDiv{
   width: 100%;
   height: 50rem;
}

.filmsorDiv{
   display: flex;
   margin: 2%;
   width: 96%;
}

.film{
   padding:1%;
   text-align: center;
}

.filmkep{
   max-width: 100%;
   max-height: 100%;
   box-shadow: 0 0 10px 0 rgb(255, 255, 255) inset, 0 0 10px 5px rgb(255, 255, 255);
   border: solid black 3px;
   border-radius: 3%;
}

