body{
    /* #151515 #FFD700 #F2F4CD*/
    background: radial-gradient(ellipse at top,  #969892, transparent),
                radial-gradient(ellipse at bottom, rgb(78, 78, 78), transparent);
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}

#cim{
    text-align: center;
    margin-right: 4.6%;
    font-weight: bold;
    font-family: sans-serif;
}

.cimSor{
    display: flex;
}
.cimOszlop1{
    flex: 3%;
    padding: .2rem;
    margin: .5rem;
}
.cimOszlop2{
    flex: 97%;
    padding: .2rem;
    margin: .5rem;
    font-size:x-large;
    padding-right: 2vw;
}

#oldal{
    height: 200vh;
    display: list-item;
    
}

#Leiras{
    width: 98%;
    height: 15vh;
    display: flex;
    border-radius: 1%;
    border: white solid 2px;
    background-color: rgba(114, 112, 112, 0.63);
    box-shadow: 0 0 10px 0 rgb(245, 245, 245) inset, 0 0 10px 4px rgb(255, 255, 255);
    /*overflow: auto;*/
    font-style: italic;
    font-weight: bold;
    font-size: 1.5vw;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 1%;
    word-wrap: break-word;
    white-space: pre-wrap;
    word-break: break-word;
    text-align:justify;
    line-height: 2em;
}

.navgombok{
    display: flex;
    margin-top: 0.3vh;
    margin-bottom: 20vh;
    justify-content: center;
    width: 100%;
}

.navgombok button {
    width: 10%;
    background-color: rgba(119, 115, 115, 0.63);
    border: black solid 2px;
    box-shadow:0 0 2px 2px rgb(87, 82, 82);
    padding: 10px 24px;
    cursor: pointer;
    float:none; 
    overflow: hidden;
    transition: all .4s ease-in-out;
}

#nav1:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    color: rgb(255, 255, 255);
    box-shadow:0 0 4px 4px rgb(87, 82, 82);
    font-weight: bold;
    text-shadow: black 3px 3px 1px;
    cursor: pointer;
    background-color: #282926;
    border-radius:10px 0% 0% 50px;
    transition: all .4s ease-in-out;
}

#nav2:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    color: rgb(255, 255, 255);
    box-shadow:0 0 4px 4px rgb(87, 82, 82);
    font-weight: bold;
    text-shadow: black 3px 3px 1px;
    cursor: pointer;
    background-color: #282926;
    border-radius:0% 10px 50px 0%;
    transition: all .4s ease-in-out;
}

#nav1{
    margin-right: 2px;
    border-radius: 35px 0% 0% 75px;
    font-size: large;
    font-weight: bold;
}

#nav2{
    margin-left: 2px;
    border-radius: 0% 35px 75px 0%;
    font-size: large;
    font-weight: bold;
}

#gombok
{
    align-content: stretch;
    justify-content: space-evenly;
    display:flex;
    margin-bottom: 1vh;
}

#gombok2
{
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: space-evenly;
    display:flex;
    margin-top: 1vh;
}

#Time{
    display: table-caption;
    margin: 1em;
    color: black;
    font-weight: bold;

}
#Bemutatkozas{
    text-align: center;
    width: 96%;
    height: 100vh;
    margin: 2%;
  
}
.Onkep{
    width: 10vw;
    border: 1rem solid transparent;
    border-image: url("Kepek/frame.png") 100 stretch ;
    margin: .5rem;
}


.csapattagokSor{
    display: flex;
}

.csapattagokOszlop{
    flex: 33.3%;
    padding: .1rem ;
}

.csapattagokOszlopGomb{
    flex: 33.3%;
    box-shadow:  goldenrod 1px 1px 10px;
    transition: all .5s ease-in-out;
    padding: .5rem;
    margin: 1rem;
    border: none;
    border-radius: 2%;
    background-color: rgba(255, 255, 255, 0.534);
    font-weight: bold;
}

.csapattagokOszlopGombInaktiv{
    flex: 33.3%;
    transition: all .5s ease-in-out;
    box-shadow: 0 0 5px 0  black, 0 0 5px 2px black;
    padding: .5rem;
    margin: 1rem;
    border: none;
    border-radius: 2%;
    background-color: rgba(255, 255, 255, 0.534);
    font-weight: bold;
    color: rgba(177, 17, 17, 0.781);
}

.tanarokSor{
    display: flex;
}

.tanarokOszlop{
    flex: 50%;
    padding: .1rem;
    
}

.tanarokOszlopGomb{
    flex: 50%;
    box-shadow:  goldenrod 1px 1px 10px;
    transition: all .5s ease-in-out;
    padding: .5rem;
    margin: 1rem;
    border: none;
    border-radius: 2%;
    background-color: rgba(255, 255, 255, 0.534);
    font-weight: bold;
}

.tanarokOszlopGombInaktiv{
    flex: 50%;
    transition: all .5s ease-in-out;
    box-shadow: 0 0 5px 0  black, 0 0 5px 2px black;
    padding: .5rem;
    margin: 1rem;
    border: none;
    border-radius: 2%;
    background-color: rgba(255, 255, 255, 0.534);
    font-weight: bold;
    color: rgba(177, 17, 17, 0.781);
}

.csapattagokOszlopGomb:hover, .tanarokOszlopGomb:hover{
    box-shadow: 0 0 10px 0 goldenrod inset, 0 0 10px 5px goldenrod;
    border: none;
    border-radius: 5%;
    background-color: #969892;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-shadow: black 3px 3px 1px;
    cursor: pointer;
    transition: all .4s ease-in-out;
}

#SlideshowDiv{
    text-align: center;
    /*width: 90%;*/
    height: 10vh;
    margin-top: 30vh;

}

#SlideshowDiv img{
    max-width: 90%;
    height: auto;
}

#Slideshow-button{
    margin-bottom: 2vw;
    border-radius: 4px;
    width: 10%;
    height: auto;
    background-color: rgba(255, 255, 255, 0.534);
    transition: all .5s ease-in-out;
    font-size: 1vw;
}

#Slideshow-button:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-shadow: black 3px 3px 1px;
    cursor: pointer;
    background-color: #282926;
    transition: all .4s ease-in-out;
}

.SlideShowalap{
    max-width: fit-content;
    height: auto;
    border: 1rem solid transparent;
    border-image: url("Kepek/goth-frame.png") 210 stretch ;
}

.SlideShowalap {
    animation: fadeIn ease 0.5s;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }