body{
    /* #151515 #FFD700 #F2F4CD*/
    background: radial-gradient(ellipse at top,  #969892, transparent),
                radial-gradient(ellipse at bottom, rgb(78, 78, 78), transparent);
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}

#Leiras{
    width:75vw;
    height:10vw;
    display: flex;
    border-radius: 4%;
    border: black solid 15px;
    background-color: rgb(209, 199, 199);
    overflow: auto;
    font-style: italic;
    font-weight: bold;
}

#gomb1,#gomb2,#gomb3,#gomb4,#gomb5
{

top: 10vw;

}

#gombok
{
    align-content: stretch;
    justify-content: space-evenly;
    display:flex;
    margin-bottom: 1vw;
}

#gombok2
{
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: space-evenly;
    display:flex;
    margin-top: 1vw;
}

#Time{
    display: table-caption;
    margin: 1em;
    color: black;
    font-weight: bold;

}
#Bemutatkozas{
    text-align: center;
    width:70%;
    padding: 5vw;
    margin: 5vw;
    display: inline-block;
    top: 20vw;
    height: 100%;
    position: absolute;
}
.Onkep{
    width: 10vw;
    border: 25px solid transparent;
    border-image: url("Kepek/frame.png") 100 stretch ;
    margin: auto;
}

#Tanarok{
    flex-wrap: wrap;
    text-align: center;
    position: absolute;
    margin-left: 25%;
    margin-right: 25%;
    display: flex;
}

#Elsosor{
    display: flex;
}

.kozepre{
    text-align: center;
}

#Kep4{
    float: left;
    align-self: center;
}

#Kep5{
    float: right;
    align-self: center;
}


#Kep1,#Kep2,#Kep3,#Kep4,#Kep5{
    margin: 1vw;
    padding: 1vw;
    clear: both;
    align-content: stretch;
    justify-content: space-around;
}

#Bszoveg{

    float: right;
}

.BKep
{
    display: inline-block;
}

