body{
    background-color: grey;
}
#Time{
    display: table-caption;
    margin: 1em;
    color: black;
    font-weight: bold;

}
#Bemutatkozas{
    width: 20%;
    border: 6px solid black;
    box-shadow: blueviolet 2px 2px 2px 1px;
    padding: 50px;
    margin: 20px;

}
.Onkep{
    width: 75%;
    height: 75%;
    border: 25px solid transparent;
    border-image: url("Kepek/frame.png") 100 stretch ;

}

#Kep1,#Kep2,#Kep3{
    margin: 1vw;
    align-self: center;
}

.BKep
{
    display: inline-block;
}

