#Time{
    display: table-caption;
    margin: 1em;

}
#Bemutatkozas{
    width: 300px;
    border: 6px solid black;
    box-shadow: blueviolet 2px 2px 2px 1px;
    padding: 50px;
    margin: 20px;

}
.Onkep{
    width: 100%;
    height: 100%;
    margin: 1vw;

}

#Kep1,#Kep2,#Kep3{
    margin: 1vw;
    align-self: center;
    display: none;
}

