body{
    /* #151515 #FFD700 #F2F4CD*/
    background: radial-gradient(ellipse at top,  #969892, transparent),
                radial-gradient(ellipse at bottom, rgb(78, 78, 78), transparent);
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}


#cim h1{
    background-color: rgba(128, 128, 128, 0.432);
    padding: .8%;
    box-shadow: 0 0 10px 0 #969892 inset, 0 0 10px 4px #969892;
    text-align: center;
    color: black;
}
@media screen and (min-width: 601px) {
    #cim h1{
      font-size: 80px;
    }
}

#szelektor{
    
    margin: 1rem;
    padding: 2rem 2rem;
    text-align: center;
}
#rolunk, #filmes{
    display: inline-block;
    border: 5px solid black;
    border-radius: 10%;
    padding: 20rem;
    margin: 2.5%;
    vertical-align: middle;
}
#rolunk:hover,#filmes:hover{
    cursor: pointer;
    transition: all .6s ease-in-out;
    box-shadow: 0 0 10px 0 rgb(245, 245, 245) inset, 0 0 10px 4px rgb(255, 255, 255);
    background-color: rgba(27, 26, 26, 0.438);
    border: solid white 5px;
    
}

#rolunk h2, #filmes h2{
    color: black;
    font-size: xx-large;
    font-weight: bold;
}


